html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Start variables and mixins */
/* End variables and mixins */
html {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body {
  min-height: 100vh;
  width: 100%;
}

.grey-square {
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: top 30px right 195.3px;
  background: #eef3f6;
  border-radius: 4rem;
  height: 500px;
  left: 50%;
  position: fixed;
  top: -75px;
  width: 75vw;
  z-index: -100;
}

.illustration {
  margin-bottom: 4rem;
  top: 6.675rem;
  width: 100%;
  z-index: -100;
}
.illustration img {
  width: 138%;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}
.top-bar img.logo {
  height: 25px;
  width: 25px;
}
.top-bar .nav-btn {
  background: url("../images/icon-hamburger.svg") no-repeat;
  cursor: pointer;
  height: 25px;
  width: 30px;
}
.top-bar .nav-btn.open {
  background: url("../images/icon-close.svg") no-repeat;
}
.top-bar nav {
  display: none;
}
.top-bar nav.open {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
  display: block;
  left: 0;
  margin: 0 10%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 100px;
  width: 80%;
}
.top-bar nav.open ul {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: #242942;
  letter-spacing: 1px;
}
.top-bar nav.open ul li {
  cursor: pointer;
  margin: 30px 0;
}
.top-bar nav.open ul li:last-child {
  border-top: 1px solid #a0a1ac;
  color: #a0a1ac;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 80%;
}

.main {
  margin: 0 auto;
  width: 80%;
}
.main .main-header {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  align-items: center;
  color: #a0a1ac;
  display: flex;
  font-size: 0.8rem;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.main .main-header .pill {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  background: #242942;
  border-radius: 12px;
  color: #eef3f6;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-right: 1rem;
  padding: 5px 10px;
}
.main .main-body h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: #242942;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=styles.css.map */
