@import "reset";

/* Start variables and mixins */
$red: hsl(0, 100%, 68%);
$veryDarkBlue: hsl(230, 29%, 20%);
$darkGrayishBlue: hsl(230, 11%, 40%);
$grayishBlue: hsl(231, 7%, 65%);
$lightGrayishBlue: hsl(207, 33%, 95%);

@mixin font_barlow($weight) {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: $weight;
}
/* End variables and mixins */

html {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body {
  min-height: 100vh;
  width: 100%;
}

.grey-square {
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: top 30px right 195.3px;
  background: #eef3f6;
  border-radius: 4rem;
  height: 500px;
  left: 50%;
  position: fixed;
  top: -75px;
  width: 75vw;
  z-index: -100;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 1.5rem;

  img.logo {
    height: 25px;
    width: 25px;
  }

  .nav-btn {
    background: url("../images/icon-hamburger.svg") no-repeat;
    cursor: pointer;
    height: 25px;
    width: 30px;
    &.open {
      background: url("../images/icon-close.svg") no-repeat;
    }
  }

  nav {
    display: none;
    &.open {
      background: #fff;
      border-radius: 4px;
      -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
      display: block;
      left: 0;
      margin: 0 10%;
      position: absolute;
      text-align: center;
      top: 100px;
      width: 80%;
    }
    ul {
      @include font_barlow(700);
      color: $veryDarkBlue;
      letter-spacing: 1px;
      text-transform: uppercase;
      li {
        cursor: pointer;
        margin: 30px 0;
        &:last-child {
          border-top: 1px solid $grayishBlue;
          color: $grayishBlue;
          margin: 0 auto;
          padding: 1.5rem 0;
          width: 80%;
        }

        &.bullet {
          display: none;
        }
      }
    }
  }
}

.main-wrapper {
  margin: 0 auto;
  width: 100%;

  .main-header,
  .main-body,
  .main-footer {
    width: 80%;
    margin: 0 auto;
  }

  .illustration {
    margin-bottom: 4rem;
    width: 100%;
    overflow: hidden;
    img {
      width: 138%;
    }
  }

  .main-header {
    @include font_barlow(400);
    align-items: center;
    color: $grayishBlue;
    display: flex;
    font-size: 0.8rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    .pill {
      @include font_barlow(700);
      background: $veryDarkBlue;
      border-radius: 12px;
      color: $lightGrayishBlue;
      font-size: 0.75rem;
      letter-spacing: 1px;
      margin-right: 1rem;
      padding: 5px 10px;
    }
  }

  .main-body {
    h1 {
      @include font_barlow(700);
      color: $veryDarkBlue;
      font-size: 2.25rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    h2 {
      color: $grayishBlue;
      line-height: 1.3rem;
      margin-bottom: 1.25rem;
      width: 90%;
    }
  }

  .main-footer {
    @include font_barlow(400);
    color: $grayishBlue;
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    button {
      @include font_barlow(700);
      background: $red;
      border-radius: 6px;
      border: none;
      color: $lightGrayishBlue;
      cursor: pointer;
      font-size: 0.7rem;
      letter-spacing: 2px;
      margin-right: 1rem;
      padding: 0.65rem 1.1rem;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 1025px) {
  .top-bar {
    padding: 4rem 9rem 6rem;

    img.logo {
      width: 35px;
      height: 35px;
    }

    .nav-btn {
      display: none;
    }

    nav {
      display: block;
      min-width: 35%;
      ul {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        li {
          margin: 0;

          &:last-child {
            border: none;
            padding: 0;
            margin: 0;
            width: auto;
            position: relative;
          }

          &.bullet {
            display: block;
            color: $grayishBlue;
          }
        }
      }
    }
  }

  .main-wrapper {
    display: flex;

    .illustration {
      order: 2;
      position: fixed;
      right: -57%;
      img {
        max-width: 850px;
      }
    }

    .main {
      order: 1;
      padding: 2rem 0 0 0;
      margin-left: 6%;

      .main-body {
        h1 {
          font-size: 3.5rem;
          width: 80%;
          margin-bottom: 1.5rem;
        }

        h2 {
          width: 40%;
          margin-bottom: 2.5rem;
        }
      }

      .main-footer {
        letter-spacing: 5px;
        font-size: 0.8rem;
        button {
          font-size: 0.9rem;
          padding: 0.85rem 1.5rem;
        }
      }
    }
  }
}
