@import "reset";

/* Start variables and mixins */
$red: hsl(0, 100%, 68%);
$veryDarkBlue: hsl(230, 29%, 20%);
$darkGrayishBlue: hsl(230, 11%, 40%);
$grayishBlue: hsl(231, 7%, 65%);
$lightGrayishBlue: hsl(207, 33%, 95%);

@mixin font_barlow($weight) {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: $weight;
}
/* End variables and mixins */

html {
  font-size: 18px;
  font-weight: 400;
}

body {
  min-height: 100vh;
  width: 100%;
}

.grey-square {
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: top 30px right 195.3px;
  background: #eef3f6;
  border-radius: 4rem;
  height: 500px;
  left: 50%;
  position: fixed;
  top: -75px;
  width: 75vw;
  z-index: -100;
}

.illustration {
  top: 6.675rem;
  width: 100%;
  z-index: -100;
  img {
    width: 138%;
  }
}
